* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color) !important;
}
@font-face {
  font-family: Mulish-bold;
  src: url("../assets/fonts/Mulish-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-demi;
  src: url("../assets/fonts/Mulish-Demi.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-medium;
  src: url("../assets/fonts/Mulish-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-regular;
  src: url("../assets/fonts/Mulish-Regular.ttf");
  font-display: swap;
}
::-webkit-scrollbar {
  width: 5px;
  scrollbar-color: #180e644d;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #180e644d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #030311;
  border-radius: 10px;
}

:root{
  --font: #000000B5;
  --grey: #D0D0D0;
  --darkgrey: #333232;
  --primarydarkblue: #282a37;
  --darkblue: #080664;
  --tertiarydarkblue: #242631;
  --primarygreen: #D2F4E0;
  --secondarygreen: #219653;
  --tertiarygreen: #003A00;
  --primaryblue: #1647D4;
  --red: #be0f39;
  --golden: #D4C17B;
  --bg-color: #F6FAFF;
}

body {
  margin: 0;
  font-family: Mulish-regular !important;
  transition: opacity 200ms;
  position: relative;
  font-family: Mulish-medium;
  scroll-behavior: smooth;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}
