.main {
  color: white;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.footer {
  background-color: #0b1f3a;
  color: white;
  position: absolute;
  z-index: 9999;
  bottom: 0;
  width: 41vw;
}

.pageText {
  text-align: center;
}

.buttonContainer {
  margin: 5px;
  justify-content: space-between;
  display: flex;
}
