.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  height: 70px;
  margin: 0 1vh;
}

.newChatContainer {
  margin-left: 2vh;
  display: flex;
  flex-direction: column;
  color: var(--font);
  align-items: flex-start;
  font-size: 12px;
  width: 20%;
}

.navbarHeading{
  margin: auto;
  color: var(--secondary);
  font-size: 3vh;
  font-weight: bold;
  font-family: 'Mulish-bold', sans-serif;
}

.imageContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.mobileView{
  display: none;
}

.hamburgerIcon {
  display: none; /* Hide the hamburger icon by default */
}

/* Media query for mobile view */
@media (max-width: 767px) {
  .hamburgerIcon {
    display: block; /* Show the hamburger icon on mobile view */
    position: sticky;
    z-index: 9999;
  }
  .mobileView{
    display: block;
  }
}
