.main {
  height: 100%;
}

.dropzone {
  background-color: #324352;
  border: 1px solid white;
  border-style: dashed;
  padding: 1vh;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}

.dropzone:hover {
  cursor: pointer;
}

.dropzone span {
  color: #cccccc;
}

.pdfElement {
  display: flex;
  align-items: center;
  margin: 1vh 0;
}

.pdfElement:hover {
  cursor: pointer;
  background-color: #1677ff;
  border-radius: 15px;
}

.pdfElement .imageContainer {
  margin: 1vh;
  width: 25px;
  height: 25px;
}

.pdflist{
  height: 40%;
  overflow: auto;
}
